.searchWrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 44px;
}
.searcherText {
  font-family: Manrope;
  font-size: 39px;
  font-weight: 600;
  line-height: 43px;
  margin-left: 12px;
}
