.searcherContainer {
  margin-bottom: 42px;
}
.searchWrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 44px;
  position: relative;
}
.searcherText {
  font-family: Manrope;
  font-size: 39px;
  font-weight: 600;
  line-height: 43px;
  margin-left: 12px;
  padding-right: 85px;
}
.searchEngine {
  height: 74px;
  max-width: 635px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: row;
}
.svgWrapper {
  padding-left: 17px;
  display: flex;
}
.searcher {
  padding-left: 12px;
  max-width: 600px;
  width: 100%;
}
.searcher::placeholder {
  color: rgb(0, 0, 0);
}
.button {
  background-color: #569daa; /* Green */
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  float: left;
}
.button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}
.button:hover {
  opacity: 0.8;
}
@media (max-width: 576px) {
  .searcherText {
    font-size: 30px;
  }
}
