@import '@styles/variables';

.description {
  margin-top: 40px;
}

.searching {
  margin-top: 32px;
}

.description,
.searching {
  display: flex;
  flex-direction: column;
  row-gap: 8px;

  h4 {
    color: $color-modal;
  }

  p {
    line-height: 1.6;
    color: $color-b50;
  }
}
