@import "@styles/variables";

$color-bg-card: rgba(34 47 68 / 0.2);
$color-main: #222f44;

.card {
  max-width: 640px;
  padding: 18px 30px 30px;
  border: 1px solid $color-bg-card;
  border-radius: 4px;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.15);

  display: flex;
  flex-direction: column;
  row-gap: 16px;

  position: relative;
}

.title {
  align-self: flex-start;
  display: inline-block;
  color: $color-main;
  position: relative;

  &::before {
    position: absolute;
    bottom: 0px;
    content: "";
    width: 100%;
    height: 1px;
    background-color: rgba(0 0 0 / 0.2);
  }
}

.star {
  position: absolute;
  top: 27px;
  right: 27px;
  transform: rotate(-13deg);
}

.description,
.searching {
  display: flex;
  flex-direction: column;
  row-gap: 8px;

  h6 {
    align-self: flex-end;
    color: $color-main;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 16px;
      height: 1px;
      top: 50%;
      left: 0;
      transform: translateX(-24px) translateY(-50%);
      background-color: $color-main;
    }
  }

  p {
    max-height: 76px;
    overflow: hidden;
    line-height: 1.6;
    color: $color-b50;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.date {
  font-size: $fz-para;
  color: $color-b50;
}

.details {
  color: #fff;
  background-color: #000;

  font-size: $fz-para;
  padding: 10px 64px;
  border-radius: 4px;
}

@media (max-width: 1300px) {
  .card {
    margin-bottom: 10px;
  }
}

@media (max-width: 576px) {
  .details {
    padding: 10px 15px;
  }
  .title {
    font-size: 22px;
    padding: 6px 10px 10px;
    row-gap: 5px;
  }
}
