@import "@styles/variables";

$color-border: rgba(34 47 68 / 0.2);

$size-s: 660px;
$size-m: 720px;
$size-min: 576px;

.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 1000;
  transform: translateX(-50%) translateY(-50%);
  background-color: #fff;
  border: 1px solid $color-border;
  border-radius: 11px;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
  padding-bottom: 30px;
  padding-top: 30px;
  padding-left: 60px;
  padding-right: 60px;
  overflow: auto;
  max-height: 90%;
}

.s {
  min-width: $size-min;
  max-width: $size-s;
}

.m {
  min-width: 576px;
  max-width: $size-m;
}
@media (max-width: 968px) {
  .modal {
    position: fixed;
    left: 50%;
    top: 50%;
    max-height: 100%;
    overflow-y: auto;
  }
  @media (max-width: 576px) {
    .s {
      min-width: 100%;
    }

    .m {
      min-width: 100%;
    }
  }
}
