$fz-h3: 31px;
$fz-h5: 25px;
$fz-para: 20px;

$color-b100: rgba(0 0 0 / 1);
$color-b50: rgba(0 0 0 / 0.5);
$color-b25: rgba(0 0 0 / 0.25);
$color-b10: rgba(0 0 0 / 0.1);

$color-modal: #222f44;
$color-modal-date: #8f96a3;
