$fz-h3: 31px;
$fz-para: 20px;

$color-b100: rgba(0 0 0 / 1);
$color-b50: rgba(0 0 0 / 0.5);
$color-b25: rgba(0 0 0 / 0.25);
$color-b10: rgba(0 0 0 / 0.1);

$color-modal-border: #1c1b21;
$color-modal-bg: rgba(0 0 0 / 0.4);
$color-input-border: #949494;
