.GlobalContainer {
  width: 100%;
  height: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper {
  max-width: 1440px;
  padding-left: 65px;
  padding-right: 60px;
}
@media (max-width: 1444px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}
