@import '@styles/variables';

$color-placeholder: #b6b9c9;
$color-font: rgb(65 68 88);
$color-bg: #eff2f7;
$color-label: #9da0af;
$color-border: rgba(196 202 212 / 0.2);
$fz-textarea: 18px;
$fz-label: 18px;

.textarea {
  resize: vertical;
  padding: 16px;
  color: $color-font;
  border-radius: 4px;
  background-color: $color-bg;
  font-size: $fz-textarea;
  overflow: hidden;
  min-height: 48px;
}

.textarea::placeholder {
  color: $color-placeholder;
}

.label {
  font-size: $fz-label;
  color: $color-label;
}

.fieldset {
  width: 100%;

  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
