.container {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 20px;
}
.initiativesHead {
  font-family: Manrope;
  text-align: left;
  font-size: 68px;
  font-weight: 700;
  line-height: 81px;
  padding-top: 100px;
}
.initiativesText {
  font-family: Manrope;
  font-size: 25px;
  line-height: 27.5px;
  font-weight: 500;
  text-align: left;
  color: rgba(0, 0, 0);
  line-height: 28px;
  padding-top: 85px;
  padding-bottom: 60px;
}
.textLink {
  color: rgba(86, 157, 170, 1);
}
.textLink:visited {
  color: rgba(86, 157, 170, 1);
}

@media (max-width: 576px) {
  .initiativesHead {
    font-size: 34px;
    padding-top: 33px;
    text-align: center;
  }
  .initiativesText {
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
  }
}
