@import "@styles/variables";

.title {
  color: $color-modal;
}

.form {
  margin-top: 40px;

  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.firstRow {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
}

@media (max-width: 576px) {
  .firstRow {
    display: flex;
    flex-direction: column;
  }
}
