@import "@styles/variables";

.header {
  display: flex;
  justify-content: space-between;
}

.title {
  color: $color-modal;
}

.date {
  font-size: $fz-para;
  color: $color-modal-date;
}

@media (max-width: 576px) {
  .title {
    font-size: 22px;
  }
}
